* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  button:focus{
    box-shadow: none !important;
    border: none !important;
  }
  html,
  body {
    height: 100vh;
    background-color: rgb(6, 43, 43);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
  }
  
  .btn {
    display: inline-block;
    color: #fff;
    background-color: #3fb573;
    font-size: 1em;
    text-align: center;
    padding: 10px 15px;
    border: 0;
    margin: 10px 0;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search {
    height: 100px;
    margin-top: 100px;
  }
  
  .cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .card {
    cursor: pointer;
    background-color: transparent;
    height: 300px;
    perspective: 1000px;
  }
  
  .card h1 {
    font-size: 25px;
    border-bottom: 1px #fff solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  .card-front{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(243, 103, 10, 0.753);
  }
  
  .card-back {
    background-color: #333;
    color: white;
    padding: 20px;
    transform: rotateY(180deg);
  }
  .card-back p{
    margin-bottom: 10px;
  }
  .card-back button{
    width: 150px;
    margin: auto;
    padding: 20px;
    border: 2px solid ;
    outline: none;
    cursor: pointer;
    box-shadow: -3px 5px #d2bdbd78;
  }
  .topnav{
    justify-content: space-between;
    align-items: center;
  }
  .topnav button{
    font-size: 20px;
  }
  .accordion-item{
    background-color: #176b3b;
    border: 2px solid #000;
    margin: 20px 0;
  }
  .accordion-header button{
    background-color: transparent !important;
    width: 100px;
    color: #fff !important;
    border: none;
    outline: none;
  }
  .accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }
  .modal {
    color: #000;
  }
  .comments_item{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.397);
    border: 2px solid #000;
  }
  .bloglist{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.397);
    border: 2px solid #000;
  }
  .text-center{
    text-align: center;
  }
  .container{
    max-width: 90%;
    margin: auto;
  }
  .input{
    width: 100%;
    padding: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.397);
    color: #fff;
    margin: 20px;

  }
  .input::placeholder{
    color: #ffff;
  }

  @media (max-width: 800px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .cards {
      grid-template-columns: 1fr;
    }
  
  }
  